@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './animations.css';

/* Smooth scroll global */
html {
  scroll-behavior: smooth;
}

/* Evitar FOUC (Flash of Unstyled Content) */
body {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
